<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- AXION -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="./style/style.css">

    <title>Vue Emails</title>
</head>
    

    <div id="app">
        <div class="box">
            <h1>Email dei nostri dipendenti:</h1>
            <div class="email-container">
                <ul v-if="userEmails.length === emailAmount">
                    <li
                        v-for="user in userEmails">
                        <a href="#">
                            {{user}}
                        </a>
                    </li>
                </ul>
            <div
                class="loader" 
                v-else>
                <img src="https://i.gifer.com/ZWdx.gif" alt="loading">
            </div>
        </div>
        </div>
    </div>


    <script src="/js/script.js"></script>
</body>
</html>